{% extends 'base.html' %}

{% block title %}
    Pet
{% endblock title %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <h3 class="profile-username text-center">{{ pet.nome }}</h3>
                        <p class="text-muted text-center">{{ pet.get_categoria_display }}</p>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Data de Nascimento:</b>
                                <a class="pull-right">{{ pet.data_nascimento|date:'d/m/Y' }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Cor:</b>
                                <a class="pull-right">{{ pet.get_cor_display }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#timeline" data-toggle="tab">Histórico</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="timeline">
                            <ul class="timeline timeline-inverse">
                                <li class="time-label">
                                    <span class="bg-red">{% now 'd/m/Y' %}</span>
                                </li>
                                <li>
                                    <i class="fa fa-user bg-aqua"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                                        <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your
                                            friend request
                                        </h3>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
