{% extends 'base.html' %}

{% load static %}

{% block title %}
    Funcionários
{% endblock title %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Funcionários</h3>
        </div>
        <div class="box-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data de Nascimento</th>
                    <th>Cargo</th>
                </tr>
                </thead>
                <tbody>
                {% for funcionario in funcionarios %}
                    <tr>
                        <td>{{ funcionario.nome }}</td>
                        <td>{{ funcionario.data_nascimento|date:'d/m/Y' }}</td>
                        <td>{{ funcionario.get_cargo_display }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <hr>
            <div class="text-center">
                <a href="{% url 'cadastrar-funcionario' %}">
                    <button class="btn btn-primary">Cadastrar</button>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
